p img {
  margin: 0 5px 5px 0;
}

p.first-intro {
  margin-top: -5px;
}

p.second-intro a {
  white-space: nowrap;
}

p.first-intro a,
ul a {
  color: var(--color-fg-default) !important;
}

ul {
  padding-left: 0 !important;
}

li {
  display: inline;
  list-style: none;
}

.fa-adjust {
  cursor: pointer;
  display: inline;
  font-size: 8px;
}

.fa-3x {
  font-size: 2.3rem;
  padding: 10px 20px 10px 0;
}

.fa-envelope:hover {
  color: #da3838;
}

.fa-github:hover {
  color: #333;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-youtube:hover {
  color: #bb0000;
}
