@import url("https://fonts.googleapis.com/css2?family=Droid+Sans+Mono&display=swap");

body {
  background: #fafbfc;
  color: #24292e;
  font-family: "Droid Sans Mono", monospace;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

p img {
  margin-bottom: 10px;
}

ul {
  margin-left: -10px;
}

li {
  display: inline;
  list-style: none;
}

a {
  color: #000;
}

.websites {
  color: #4b89bf;
  font-style: italic;
  text-decoration: none;
}

.fa-adjust {
  cursor: pointer;
  display: inline;
  font-size: 8px;
}

.fa-3x {
  font-size: 2.3rem;
  padding: 10px;
}

.fa-file-pdf-o:hover {
  color: #0260fb;
}

.fa-envelope:hover {
  color: #da3838;
}

.fa-github:hover {
  color: #333;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-instagram:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background: linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}

.fa-youtube:hover {
  color: #bb0000;
}

.fa-tumblr:hover {
  color: #32506d;
}

.fa-soundcloud:hover {
  color: #ff3a00;
}

.websites.nightmode {
  color: #5aa6e8;
}

.nightmode {
  background: #24292e;
  color: #fafbfc;
}
