body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: clamp(20px, 5vw, 45px);
}

.markdown-body {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  max-width: 980px;
  width: 100%;
}

p img {
  margin: 0 5px 5px 0;
}

p.first-intro {
  margin-top: -5px;
}

p.second-intro a {
  white-space: nowrap;
}

p.first-intro a,
ul a {
  color: var(--color-fg-default) !important;
}

ul {
  padding-left: 0 !important;
}

li {
  display: inline;
  list-style: none;
}
